swiper{
    // 轮播图高度跟图片保持一致 图片变大 轮播图高也跟着变
    // swiper宽度750rpx/swiper高度 = 图片宽度750px/图片高度340px
    height: 340rpx;
}
.nav{
    display: flex;
    padding: 5rpx 0;
    &_item{
        flex: 1;
        text-align: center;
        &_img{
            width: 70%;
        }
    }
}
.floor{
    &_title{
        background-color: #eee;
    }
    &_content{
        float: left;
        width: 33.33%;
        &_img{
            display: block;//去除图片3px间隙
            // 后4张图片高度为第一张的一半
            &:nth-last-child(-n+4){
                height: (750rpx/3)*386/232/2+1;
            }
        }
    }
}